output/fusionwidgets/Gantt.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="chart">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element name="categories" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="category" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="align">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="left"/>
                                                <xs:enumeration value="center"/>
                                                <xs:enumeration value="right"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="bgalpha">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:minInclusive value="0"/>
                                                <xs:maxInclusive value="100"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="bgcolor" type="xs:string"/>
                                    <xs:attribute name="end" type="xs:string"/>
                                    <xs:attribute name="font" type="xs:string"/>
                                    <xs:attribute name="fontcolor" type="xs:hexBinary"/>
                                    <xs:attribute name="fontsize" type="xs:string"/>
                                    <xs:attribute name="hoverbandalpha">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:minInclusive value="0"/>
                                                <xs:maxInclusive value="100"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="hoverbandcolor" type="xs:hexBinary"/>
                                    <xs:attribute name="isbold" type="xs:string"/>
                                    <xs:attribute name="isitalic" type="xs:string"/>
                                    <xs:attribute name="isunderline" type="xs:string"/>
                                    <xs:attribute name="label" type="xs:string"/>
                                    <xs:attribute name="link" type="xs:anyURI"/>
                                    <xs:attribute name="showganttpanehoverband" type="xs:string"/>
                                    <xs:attribute name="showhoverband" type="xs:string"/>
                                    <xs:attribute name="start" type="xs:string"/>
                                    <xs:attribute name="valign">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="top"/>
                                                <xs:enumeration value="middle"/>
                                                <xs:enumeration value="bottom"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="align">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="left"/>
                                    <xs:enumeration value="center"/>
                                    <xs:enumeration value="right"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="bgalpha">
                            <xs:simpleType>
                                <xs:restriction base="xs:nonNegativeInteger">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="bgcolor" type="xs:string"/>
                        <xs:attribute name="font" type="xs:string"/>
                        <xs:attribute name="fontcolor" type="xs:hexBinary"/>
                        <xs:attribute name="fontsize" type="xs:string"/>
                        <xs:attribute name="hoverbandalpha">
                            <xs:simpleType>
                                <xs:restriction base="xs:nonNegativeInteger">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="hoverbandcolor" type="xs:hexBinary"/>
                        <xs:attribute name="isbold" type="xs:string"/>
                        <xs:attribute name="isitalic" type="xs:string"/>
                        <xs:attribute name="isunderline" type="xs:string"/>
                        <xs:attribute name="showganttpanehoverband" type="xs:string"/>
                        <xs:attribute name="showhoverband" type="xs:string"/>
                        <xs:attribute name="valign">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="top"/>
                                    <xs:enumeration value="middle"/>
                                    <xs:enumeration value="bottom"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="verticalpadding" type="xs:nonNegativeInteger"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="processes" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="process" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="align">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="left"/>
                                                <xs:enumeration value="center"/>
                                                <xs:enumeration value="right"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="bgalpha">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:minInclusive value="0"/>
                                                <xs:maxInclusive value="100"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="bgcolor" type="xs:string"/>
                                    <xs:attribute name="font" type="xs:string"/>
                                    <xs:attribute name="fontcolor" type="xs:hexBinary"/>
                                    <xs:attribute name="fontsize" type="xs:string"/>
                                    <xs:attribute name="hoverbandalpha">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:minInclusive value="0"/>
                                                <xs:maxInclusive value="100"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="hoverbandcolor" type="xs:hexBinary"/>
                                    <xs:attribute name="id" type="xs:string"/>
                                    <xs:attribute name="isbold" type="xs:string"/>
                                    <xs:attribute name="isitalic" type="xs:string"/>
                                    <xs:attribute name="isunderline" type="xs:string"/>
                                    <xs:attribute name="label" type="xs:string"/>
                                    <xs:attribute name="link" type="xs:anyURI"/>
                                    <xs:attribute name="showganttpanehoverband" type="xs:string"/>
                                    <xs:attribute name="showhoverband" type="xs:string"/>
                                    <xs:attribute name="valign">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="top"/>
                                                <xs:enumeration value="middle"/>
                                                <xs:enumeration value="bottom"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="height" type="xs:nonNegativeInteger"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="align">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="left"/>
                                    <xs:enumeration value="center"/>
                                    <xs:enumeration value="right"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="bgalpha">
                            <xs:simpleType>
                                <xs:restriction base="xs:nonNegativeInteger">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="bgcolor" type="xs:string"/>
                        <xs:attribute name="font" type="xs:string"/>
                        <xs:attribute name="fontcolor" type="xs:hexBinary"/>
                        <xs:attribute name="fontsize" type="xs:string"/>
                        <xs:attribute name="headeralign">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="left"/>
                                    <xs:enumeration value="center"/>
                                    <xs:enumeration value="right"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="headerbgalpha">
                            <xs:simpleType>
                                <xs:restriction base="xs:nonNegativeInteger">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="headerbgcolor" type="xs:hexBinary"/>
                        <xs:attribute name="headerfont" type="xs:string"/>
                        <xs:attribute name="headerfontcolor" type="xs:hexBinary"/>
                        <xs:attribute name="headerfontsize" type="xs:string"/>
                        <xs:attribute name="headerisbold" type="xs:string"/>
                        <xs:attribute name="headerisitalic" type="xs:string"/>
                        <xs:attribute name="headerisunderline" type="xs:string"/>
                        <xs:attribute name="headervalign">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="top"/>
                                    <xs:enumeration value="middle"/>
                                    <xs:enumeration value="bottom"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="headertext" type="xs:string"/>
                        <xs:attribute name="hoverbandalpha">
                            <xs:simpleType>
                                <xs:restriction base="xs:nonNegativeInteger">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="hoverbandcolor" type="xs:hexBinary"/>
                        <xs:attribute name="isbold" type="xs:string"/>
                        <xs:attribute name="isitalic" type="xs:string"/>
                        <xs:attribute name="isunderline" type="xs:string"/>
                        <xs:attribute name="positioningrid">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="left"/>
                                    <xs:enumeration value="right"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="showganttpanehoverband" type="xs:string"/>
                        <xs:attribute name="showhoverband" type="xs:string"/>
                        <xs:attribute name="valign">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="top"/>
                                    <xs:enumeration value="middle"/>
                                    <xs:enumeration value="bottom"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="width" type="xs:nonNegativeInteger"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tasks" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="task" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="alpha">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:minInclusive value="0"/>
                                                <xs:maxInclusive value="100"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="animation" type="xs:string"/>
                                    <xs:attribute name="borderalpha">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:minInclusive value="0"/>
                                                <xs:maxInclusive value="100"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="bordercolor" type="xs:hexBinary"/>
                                    <xs:attribute name="borderthickness" type="xs:string"/>
                                    <xs:attribute name="color" type="xs:hexBinary"/>
                                    <xs:attribute name="end" type="xs:string"/>
                                    <xs:attribute name="font" type="xs:string"/>
                                    <xs:attribute name="fontcolor" type="xs:hexBinary"/>
                                    <xs:attribute name="fontsize" type="xs:string"/>
                                    <xs:attribute name="height" type="xs:nonNegativeInteger"/>
                                    <xs:attribute name="hoverfillalpha">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:minInclusive value="0"/>
                                                <xs:maxInclusive value="100"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="hoverfillcolor" type="xs:hexBinary"/>
                                    <xs:attribute name="id" type="xs:string"/>
                                    <xs:attribute name="label" type="xs:string"/>
                                    <xs:attribute name="link" type="xs:anyURI"/>
                                    <xs:attribute name="percentcomplete" type="xs:string"/>
                                    <xs:attribute name="processid" type="xs:string"/>
                                    <xs:attribute name="showasgroup" type="xs:string"/>
                                    <xs:attribute name="showborder" type="xs:string"/>
                                    <xs:attribute name="showenddate" type="xs:string"/>
                                    <xs:attribute name="showhovereffect" type="xs:string"/>
                                    <xs:attribute name="showlabel" type="xs:string"/>
                                    <xs:attribute name="showpercentlabel" type="xs:string"/>
                                    <xs:attribute name="showstartdate" type="xs:string"/>
                                    <xs:attribute name="slackhoverfillalpha" type="xs:string"/>
                                    <xs:attribute name="slackhoverfillcolor" type="xs:string"/>
                                    <xs:attribute name="start" type="xs:string"/>
                                    <xs:attribute name="tooltext" type="xs:string"/>
                                    <xs:attribute name="toppadding" type="xs:nonNegativeInteger"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="alpha">
                            <xs:simpleType>
                                <xs:restriction base="xs:nonNegativeInteger">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="borderalpha">
                            <xs:simpleType>
                                <xs:restriction base="xs:nonNegativeInteger">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="bordercolor" type="xs:hexBinary"/>
                        <xs:attribute name="borderthickness" type="xs:string"/>
                        <xs:attribute name="color" type="xs:hexBinary"/>
                        <xs:attribute name="font" type="xs:string"/>
                        <xs:attribute name="fontcolor" type="xs:hexBinary"/>
                        <xs:attribute name="fontsize" type="xs:string"/>
                        <xs:attribute name="hoverfillalpha">
                            <xs:simpleType>
                                <xs:restriction base="xs:nonNegativeInteger">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="hoverfillcolor" type="xs:hexBinary"/>
                        <xs:attribute name="showhovereffect" type="xs:string"/>
                        <xs:attribute name="showborder" type="xs:string"/>
                        <xs:attribute name="showenddate" type="xs:string"/>
                        <xs:attribute name="showlabels" type="xs:string"/>
                        <xs:attribute name="showpercentlabel" type="xs:string"/>
                        <xs:attribute name="showstartdate" type="xs:string"/>
                        <xs:attribute name="slackfillcolor" type="xs:hexBinary"/>
                        <xs:attribute name="slackhoverfillalpha" type="xs:string"/>
                        <xs:attribute name="slackhoverfillcolor" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="datatable" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="align">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="left"/>
                                    <xs:enumeration value="center"/>
                                    <xs:enumeration value="right"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="bgalpha">
                            <xs:simpleType>
                                <xs:restriction base="xs:nonNegativeInteger">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="bgcolor" type="xs:string"/>
                        <xs:attribute name="font" type="xs:string"/>
                        <xs:attribute name="fontcolor" type="xs:hexBinary"/>
                        <xs:attribute name="fontsize" type="xs:string"/>
                        <xs:attribute name="headeralign">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="left"/>
                                    <xs:enumeration value="center"/>
                                    <xs:enumeration value="right"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="headerbgalpha">
                            <xs:simpleType>
                                <xs:restriction base="xs:nonNegativeInteger">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="headerbgcolor" type="xs:hexBinary"/>
                        <xs:attribute name="headerfont" type="xs:string"/>
                        <xs:attribute name="headerfontcolor" type="xs:hexBinary"/>
                        <xs:attribute name="headerfontsize" type="xs:string"/>
                        <xs:attribute name="headerisbold" type="xs:string"/>
                        <xs:attribute name="headerisitalic" type="xs:string"/>
                        <xs:attribute name="headerisunderline" type="xs:string"/>
                        <xs:attribute name="headervalign">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="top"/>
                                    <xs:enumeration value="middle"/>
                                    <xs:enumeration value="bottom"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="isbold" type="xs:string"/>
                        <xs:attribute name="isitalic" type="xs:string"/>
                        <xs:attribute name="isunderline" type="xs:string"/>
                        <xs:attribute name="valign">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="top"/>
                                    <xs:enumeration value="middle"/>
                                    <xs:enumeration value="bottom"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="datacolumn" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="align">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="left"/>
                                    <xs:enumeration value="center"/>
                                    <xs:enumeration value="right"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="bgalpha">
                            <xs:simpleType>
                                <xs:restriction base="xs:nonNegativeInteger">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="bgcolor" type="xs:string"/>
                        <xs:attribute name="font" type="xs:string"/>
                        <xs:attribute name="fontcolor" type="xs:hexBinary"/>
                        <xs:attribute name="fontsize" type="xs:string"/>
                        <xs:attribute name="headeralign">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="left"/>
                                    <xs:enumeration value="center"/>
                                    <xs:enumeration value="right"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="headerbgalpha">
                            <xs:simpleType>
                                <xs:restriction base="xs:nonNegativeInteger">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="headerbgcolor" type="xs:hexBinary"/>
                        <xs:attribute name="headerfont" type="xs:string"/>
                        <xs:attribute name="headerfontcolor" type="xs:string"/>
                        <xs:attribute name="headerfontsize" type="xs:string"/>
                        <xs:attribute name="headerisbold" type="xs:string"/>
                        <xs:attribute name="headerisitalic" type="xs:string"/>
                        <xs:attribute name="headerisunderline" type="xs:string"/>
                        <xs:attribute name="headerlink" type="xs:anyURI"/>
                        <xs:attribute name="headertext" type="xs:string"/>
                        <xs:attribute name="headervalign">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="top"/>
                                    <xs:enumeration value="middle"/>
                                    <xs:enumeration value="bottom"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="isbold" type="xs:string"/>
                        <xs:attribute name="isitalic" type="xs:string"/>
                        <xs:attribute name="isunderline" type="xs:string"/>
                        <xs:attribute name="valign">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="top"/>
                                    <xs:enumeration value="middle"/>
                                    <xs:enumeration value="bottom"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="width" type="xs:nonNegativeInteger"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="text" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="align">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="left"/>
                                    <xs:enumeration value="center"/>
                                    <xs:enumeration value="right"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="bgalpha">
                            <xs:simpleType>
                                <xs:restriction base="xs:nonNegativeInteger">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="bgcolor" type="xs:string"/>
                        <xs:attribute name="font" type="xs:string"/>
                        <xs:attribute name="fontcolor" type="xs:hexBinary"/>
                        <xs:attribute name="fontsize" type="xs:string"/>
                        <xs:attribute name="isbold" type="xs:string"/>
                        <xs:attribute name="isitalic" type="xs:string"/>
                        <xs:attribute name="isunderline" type="xs:string"/>
                        <xs:attribute name="label" type="xs:string"/>
                        <xs:attribute name="link" type="xs:anyURI"/>
                        <xs:attribute name="valign">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="top"/>
                                    <xs:enumeration value="middle"/>
                                    <xs:enumeration value="bottom"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="connectors" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="connector" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="link" type="xs:string"/>
                                    <xs:attribute name="alpha">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:minInclusive value="0"/>
                                                <xs:maxInclusive value="100"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="color" type="xs:hexBinary"/>
                                    <xs:attribute name="fromtaskconnectstart" type="xs:string"/>
                                    <xs:attribute name="fromtaskid" type="xs:string"/>
                                    <xs:attribute name="hoveralpha">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:minInclusive value="0"/>
                                                <xs:maxInclusive value="100"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="hovercolor" type="xs:hexBinary"/>
                                    <xs:attribute name="hoverthickness" type="xs:string"/>
                                    <xs:attribute name="isdashed" type="xs:string"/>
                                    <xs:attribute name="showhovereffect" type="xs:string"/>
                                    <xs:attribute name="thickness" type="xs:string"/>
                                    <xs:attribute name="totaskconnectstart" type="xs:string"/>
                                    <xs:attribute name="totaskid" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="alpha">
                            <xs:simpleType>
                                <xs:restriction base="xs:nonNegativeInteger">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="color" type="xs:hexBinary"/>
                        <xs:attribute name="hoveralpha">
                            <xs:simpleType>
                                <xs:restriction base="xs:nonNegativeInteger">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="hovercolor" type="xs:hexBinary"/>
                        <xs:attribute name="hoverthickness" type="xs:string"/>
                        <xs:attribute name="isdashed" type="xs:string"/>
                        <xs:attribute name="showhovereffect" type="xs:string"/>
                        <xs:attribute name="thickness" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="milestones" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="milestone" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="alpha">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:minInclusive value="0"/>
                                                <xs:maxInclusive value="100"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="bordercolor" type="xs:hexBinary"/>
                                    <xs:attribute name="borderthickness" type="xs:string"/>
                                    <xs:attribute name="color" type="xs:hexBinary"/>
                                    <xs:attribute name="date" type="xs:string"/>
                                    <xs:attribute name="link" type="xs:anyURI"/>
                                    <xs:attribute name="numsides">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:minInclusive value="3"/>
                                                <xs:maxInclusive value="15"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="radius">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:minInclusive value="2"/>
                                                <xs:maxInclusive value="15"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="shape" type="xs:string"/>
                                    <xs:attribute name="startangle">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:integer">
                                                <xs:minInclusive value="0"/>
                                                <xs:maxInclusive value="360"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="taskid" type="xs:string"/>
                                    <xs:attribute name="tooltext" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="trendlines" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="line" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="alpha">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:minInclusive value="0"/>
                                                <xs:maxInclusive value="100"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="color" type="xs:hexBinary"/>
                                    <xs:attribute name="dashgap">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:minInclusive value="1"/>
                                                <xs:maxInclusive value="10"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="dashlen">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:minInclusive value="1"/>
                                                <xs:maxInclusive value="10"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="dashed" type="xs:string"/>
                                    <xs:attribute name="displayvalue" type="xs:string"/>
                                    <xs:attribute name="end" type="xs:string"/>
                                    <xs:attribute name="istrendzone" type="xs:string"/>
                                    <xs:attribute name="start" type="xs:string"/>
                                    <xs:attribute name="thickness" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="legend" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="color" type="xs:hexBinary"/>
                                    <xs:attribute name="label" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:attribute name="caption" type="xs:string"/>
            <xs:attribute name="subcaption" type="xs:string"/>
            <xs:attribute name="captionalignment">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="center"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="captionontop" type="xs:string"/>
            <xs:attribute name="captionfontsize">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="72"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="subcaptionfontsize">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="72"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="captionfont" type="xs:string"/>
            <xs:attribute name="subcaptionfont" type="xs:string"/>
            <xs:attribute name="captionfontcolor" type="xs:hexBinary"/>
            <xs:attribute name="subcaptionfontcolor" type="xs:hexBinary"/>
            <xs:attribute name="captionfontbold" type="xs:string"/>
            <xs:attribute name="subcaptionfontbold" type="xs:string"/>
            <xs:attribute name="aligncaptionwithcanvas" type="xs:string"/>
            <xs:attribute name="captionhorizontalpadding" type="xs:nonNegativeInteger"/>
            <xs:attribute name="hasrtltext" type="xs:string"/>
            <xs:attribute name="basechartmessage" type="xs:string"/>
            <xs:attribute name="basechartmessagefont" type="xs:string"/>
            <xs:attribute name="basechartmessagefontsize" type="xs:string"/>
            <xs:attribute name="basechartmessagecolor" type="xs:hexBinary"/>
            <xs:attribute name="basechartmessageimagehalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="basechartmessageimagevalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="top"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="bottom"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="basechartmessageimagealpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="basechartmessageimagescale">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="300"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="loadmessage" type="xs:string"/>
            <xs:attribute name="loadmessagefont" type="xs:string"/>
            <xs:attribute name="loadmessagefontsize" type="xs:string"/>
            <xs:attribute name="loadmessagecolor" type="xs:hexBinary"/>
            <xs:attribute name="loadmessageimagehalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="loadmessageimagevalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="top"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="bottom"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="loadmessageimagealpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="loadmessageimagescale">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="300"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="typenotsupportedmessage" type="xs:string"/>
            <xs:attribute name="typenotsupportedmessagefont" type="xs:string"/>
            <xs:attribute name="typenotsupportedmessagefontsize" type="xs:string"/>
            <xs:attribute name="typenotsupportedmessagecolor" type="xs:hexBinary"/>
            <xs:attribute name="typenotsupportedmessageimagehalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="typenotsupportedmessageimagevalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="top"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="bottom"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="typenotsupportedmessageimagealpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="typenotsupportedmessageimagescale">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="300"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="rendererrormessage" type="xs:string"/>
            <xs:attribute name="rendererrormessagefont" type="xs:string"/>
            <xs:attribute name="rendererrormessagefontsize" type="xs:string"/>
            <xs:attribute name="rendererrormessagecolor" type="xs:hexBinary"/>
            <xs:attribute name="rendererrormessageimagehalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="rendererrormessageimagevalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="top"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="bottom"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="rendererrormessageimagealpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="rendererrormessageimagescale">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="300"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataloadstartmessage" type="xs:string"/>
            <xs:attribute name="dataloadstartmessagefont" type="xs:string"/>
            <xs:attribute name="dataloadstartmessagefontsize" type="xs:string"/>
            <xs:attribute name="dataloadstartmessagecolor" type="xs:hexBinary"/>
            <xs:attribute name="dataloadstartmessageimagehalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataloadstartmessageimagevalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="top"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="bottom"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataloadstartmessageimagealpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataloadstartmessageimagescale">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="300"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataemptymessage" type="xs:string"/>
            <xs:attribute name="dataemptymessagefont" type="xs:string"/>
            <xs:attribute name="dataemptymessagefontsize" type="xs:string"/>
            <xs:attribute name="dataemptymessagecolor" type="xs:hexBinary"/>
            <xs:attribute name="dataemptymessageimagehalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataemptymessageimagevalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="top"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="bottom"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataemptymessageimagealpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataemptymessageimagescale">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="300"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataloaderrormessage" type="xs:string"/>
            <xs:attribute name="dataloaderrormessagefont" type="xs:string"/>
            <xs:attribute name="dataloaderrormessagefontsize" type="xs:string"/>
            <xs:attribute name="dataloaderrormessagecolor" type="xs:hexBinary"/>
            <xs:attribute name="dataloaderrormessageimagehalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataloaderrormessageimagevalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="top"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="bottom"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataloaderrormessageimagealpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataloaderrormessageimagescale">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="300"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="datainvalidmessage" type="xs:string"/>
            <xs:attribute name="datainvalidmessagefont" type="xs:string"/>
            <xs:attribute name="datainvalidmessagefontsize" type="xs:string"/>
            <xs:attribute name="datainvalidmessagecolor" type="xs:hexBinary"/>
            <xs:attribute name="datainvalidmessageimagehalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="datainvalidmessageimagevalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="top"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="bottom"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="datainvalidmessageimagealpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="datainvalidmessageimagescale">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="300"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dateformat" type="xs:string"/>
            <xs:attribute name="outputdateformat" type="xs:string"/>
            <xs:attribute name="ganttpaneduration" type="xs:string"/>
            <xs:attribute name="ganttpanedurationunit" type="xs:string"/>
            <xs:attribute name="showfulldatatable" type="xs:string"/>
            <xs:attribute name="ganttwidthpercent">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="10"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="forceganttwidthpercent" type="xs:string"/>
            <xs:attribute name="caption" type="xs:string"/>
            <xs:attribute name="subcaption" type="xs:string"/>
            <xs:attribute name="showtaskstartdate" type="xs:string"/>
            <xs:attribute name="showtaskenddate" type="xs:string"/>
            <xs:attribute name="showtasklabels" type="xs:string"/>
            <xs:attribute name="showpercentlabel" type="xs:string"/>
            <xs:attribute name="showslackasfill" type="xs:string"/>
            <xs:attribute name="slackfillcolor" type="xs:hexBinary"/>
            <xs:attribute name="animation" type="xs:string"/>
            <xs:attribute name="clickurl" type="xs:string"/>
            <xs:attribute name="clickurloverridesplotlinks" type="xs:string"/>
            <xs:attribute name="annrenderdelay" type="xs:string"/>
            <xs:attribute name="extendcategorybg" type="xs:string"/>
            <xs:attribute name="showprintmenuitem" type="xs:string"/>
            <xs:attribute name="scrolltodate" type="xs:string"/>
            <xs:attribute name="useverticalscrolling" type="xs:string"/>
            <xs:attribute name="forcerowheight" type="xs:string"/>
            <xs:attribute name="palette">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="palettethemecolor" type="xs:hexBinary"/>
            <xs:attribute name="bgcolor" type="xs:string"/>
            <xs:attribute name="bgalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="bgratio" type="xs:string"/>
            <xs:attribute name="bgangle">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="360"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="showborder" type="xs:string"/>
            <xs:attribute name="bordercolor" type="xs:hexBinary"/>
            <xs:attribute name="borderthickness" type="xs:string"/>
            <xs:attribute name="borderalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="bgimage" type="xs:string"/>
            <xs:attribute name="bgimagealpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="bgimagedisplaymode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="stretch"/>
                        <xs:enumeration value="tile"/>
                        <xs:enumeration value="fit"/>
                        <xs:enumeration value="fill"/>
                        <xs:enumeration value="center"/>
                        <xs:enumeration value="none"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="bgimagevalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="top"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="bottom"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="bgimagehalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="bgimagescale">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="300"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="canvasbgcolor" type="xs:hexBinary"/>
            <xs:attribute name="canvasbgalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="canvasbgratio" type="xs:string"/>
            <xs:attribute name="canvasbgangle">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="360"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="canvasbordercolor" type="xs:hexBinary"/>
            <xs:attribute name="canvasborderthickness" type="xs:nonNegativeInteger"/>
            <xs:attribute name="canvasborderalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ganttlinecolor" type="xs:hexBinary"/>
            <xs:attribute name="ganttlinealpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="gridbordercolor" type="xs:hexBinary"/>
            <xs:attribute name="gridborderalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="gridresizebarcolor" type="xs:hexBinary"/>
            <xs:attribute name="gridresizebarthickness" type="xs:string"/>
            <xs:attribute name="gridresizebaralpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="taskbarroundradius" type="xs:string"/>
            <xs:attribute name="taskbarfillmix" type="xs:string"/>
            <xs:attribute name="taskbarfillratio" type="xs:string"/>
            <xs:attribute name="basefont" type="xs:string"/>
            <xs:attribute name="basefontsize" type="xs:string"/>
            <xs:attribute name="basefontcolor" type="xs:hexBinary"/>
            <xs:attribute name="showshadow" type="xs:string"/>
            <xs:attribute name="logourl" type="xs:string"/>
            <xs:attribute name="logoposition">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="TL"/>
                        <xs:enumeration value="TR"/>
                        <xs:enumeration value="BL"/>
                        <xs:enumeration value="BR"/>
                        <xs:enumeration value="CC"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="logoalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="logoscale">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="logolink" type="xs:string"/>
            <xs:attribute name="manageresize" type="xs:string"/>
            <xs:attribute name="useellipseswhenoverflow" type="xs:string"/>
            <xs:attribute name="showhoverband" type="xs:string"/>
            <xs:attribute name="showhovereffect" type="xs:string"/>
            <xs:attribute name="hoverbandcolor" type="xs:hexBinary"/>
            <xs:attribute name="hoverbandalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="showcategoryhoverband" type="xs:string"/>
            <xs:attribute name="categoryhoverbandcolor" type="xs:hexBinary"/>
            <xs:attribute name="categoryhoverbandalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="showganttpaneverticalhoverband" type="xs:string"/>
            <xs:attribute name="showprocesshoverband" type="xs:string"/>
            <xs:attribute name="processhoverbandcolor" type="xs:hexBinary"/>
            <xs:attribute name="processhoverbandalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="showganttpanehorizontalhoverband" type="xs:string"/>
            <xs:attribute name="showconnectorhovereffect" type="xs:string"/>
            <xs:attribute name="connectorhovercolor" type="xs:hexBinary"/>
            <xs:attribute name="connectorhoveralpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="connectorhoverthickness" type="xs:string"/>
            <xs:attribute name="showtaskhovereffect" type="xs:string"/>
            <xs:attribute name="taskhoverfillcolor" type="xs:string"/>
            <xs:attribute name="taskhoverfillalpha" type="xs:string"/>
            <xs:attribute name="slackhoverfillcolor" type="xs:string"/>
            <xs:attribute name="slackhoverfillalpha" type="xs:string"/>
            <xs:attribute name="showtooltip" type="xs:string"/>
            <xs:attribute name="tooltipbgcolor" type="xs:hexBinary"/>
            <xs:attribute name="tooltipcolor" type="xs:hexBinary"/>
            <xs:attribute name="tooltipbordercolor" type="xs:hexBinary"/>
            <xs:attribute name="dateintooltip" type="xs:string"/>
            <xs:attribute name="showtooltipshadow" type="xs:string"/>
            <xs:attribute name="showlegend" type="xs:string"/>
            <xs:attribute name="legendcaption" type="xs:string"/>
            <xs:attribute name="legendbordercolor" type="xs:hexBinary"/>
            <xs:attribute name="legendborderthickness" type="xs:string"/>
            <xs:attribute name="legendborderalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="legendbgcolor" type="xs:hexBinary"/>
            <xs:attribute name="legendbgalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="legendshadow" type="xs:string"/>
            <xs:attribute name="legendallowdrag" type="xs:string"/>
            <xs:attribute name="legendscrollbgcolor" type="xs:hexBinary"/>
            <xs:attribute name="reverselegend" type="xs:string"/>
            <xs:attribute name="drawcustomlegendicon" type="xs:string"/>
            <xs:attribute name="legendiconbordercolor" type="xs:hexBinary"/>
            <xs:attribute name="legendiconbgcolor" type="xs:hexBinary"/>
            <xs:attribute name="legendiconalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="legendiconbgalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="legendiconsides" type="xs:string"/>
            <xs:attribute name="legendiconborderthickness">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="legendiconstartangle" type="xs:string"/>
            <xs:attribute name="scrollcolor" type="xs:hexBinary"/>
            <xs:attribute name="scrollpadding" type="xs:nonNegativeInteger"/>
            <xs:attribute name="scrollheight" type="xs:nonNegativeInteger"/>
            <xs:attribute name="scrollbtnwidth" type="xs:nonNegativeInteger"/>
            <xs:attribute name="scrollbtnpadding" type="xs:nonNegativeInteger"/>
            <xs:attribute name="chartleftmargin" type="xs:nonNegativeInteger"/>
            <xs:attribute name="chartrightmargin" type="xs:nonNegativeInteger"/>
            <xs:attribute name="charttopmargin" type="xs:nonNegativeInteger"/>
            <xs:attribute name="chartbottommargin" type="xs:nonNegativeInteger"/>
            <xs:attribute name="taskdatepadding" type="xs:nonNegativeInteger"/>
            <xs:attribute name="captionpadding" type="xs:nonNegativeInteger"/>
            <xs:attribute name="legendpadding" type="xs:nonNegativeInteger"/>
            <xs:attribute name="trendvaluefont" type="xs:string"/>
            <xs:attribute name="trendvaluefontsize" type="xs:string"/>
            <xs:attribute name="trendvaluefontbold" type="xs:string"/>
            <xs:attribute name="trendvaluefontitalic" type="xs:string"/>
            <xs:attribute name="trendvaluebgcolor" type="xs:hexBinary"/>
            <xs:attribute name="trendvaluebordercolor" type="xs:hexBinary"/>
            <xs:attribute name="trendvaluealpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="trendvaluebgalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="trendvalueborderalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="trendvalueborderpadding" type="xs:string"/>
            <xs:attribute name="trendvalueborderradius" type="xs:string"/>
            <xs:attribute name="trendvalueborderthickness" type="xs:string"/>
            <xs:attribute name="trendvalueborderdashed" type="xs:string"/>
            <xs:attribute name="trendvalueborderdashlen" type="xs:string"/>
            <xs:attribute name="trendvalueborderdashgap" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>