output/fusioncharts/Pie2D.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="chart">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element name="set" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="alpha">
                            <xs:simpleType>
                                <xs:restriction base="xs:nonNegativeInteger">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="borderalpha" type="xs:hexBinary"/>
                        <xs:attribute name="bordercolor" type="xs:hexBinary"/>
                        <xs:attribute name="color" type="xs:hexBinary"/>
                        <xs:attribute name="dashed" type="xs:string"/>
                        <xs:attribute name="displayvalue" type="xs:string"/>
                        <xs:attribute name="issliced" type="xs:string"/>
                        <xs:attribute name="label" type="xs:string"/>
                        <xs:attribute name="link" type="xs:string"/>
                        <xs:attribute name="showlabel" type="xs:string"/>
                        <xs:attribute name="showvalue" type="xs:string"/>
                        <xs:attribute name="tooltext" type="xs:string"/>
                        <xs:attribute name="value" type="xs:string"/>
                        <xs:attribute name="labelfont" type="xs:string"/>
                        <xs:attribute name="labelfontcolor" type="xs:hexBinary"/>
                        <xs:attribute name="labelfontsize">
                            <xs:simpleType>
                                <xs:restriction base="xs:nonNegativeInteger">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="72"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="labelfontbold" type="xs:string"/>
                        <xs:attribute name="labelfontitalic" type="xs:string"/>
                        <xs:attribute name="labelbgcolor" type="xs:hexBinary"/>
                        <xs:attribute name="labelbordercolor" type="xs:hexBinary"/>
                        <xs:attribute name="labelalpha">
                            <xs:simpleType>
                                <xs:restriction base="xs:nonNegativeInteger">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="labelbgalpha">
                            <xs:simpleType>
                                <xs:restriction base="xs:nonNegativeInteger">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="labelborderalpha">
                            <xs:simpleType>
                                <xs:restriction base="xs:nonNegativeInteger">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="labelborderpadding" type="xs:nonNegativeInteger"/>
                        <xs:attribute name="labelborderradius" type="xs:nonNegativeInteger"/>
                        <xs:attribute name="labelborderthickness" type="xs:nonNegativeInteger"/>
                        <xs:attribute name="labelborderdashed" type="xs:string"/>
                        <xs:attribute name="labelborderdashlen" type="xs:nonNegativeInteger"/>
                        <xs:attribute name="labelborderdashgap" type="xs:nonNegativeInteger"/>
                        <xs:attribute name="labellink" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:attribute name="animation" type="xs:string"/>
            <xs:attribute name="palette">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="palettecolors" type="xs:string"/>
            <xs:attribute name="showzeropies" type="xs:string"/>
            <xs:attribute name="showpercentvalues" type="xs:string"/>
            <xs:attribute name="showpercentintooltip" type="xs:string"/>
            <xs:attribute name="showlabels" type="xs:string"/>
            <xs:attribute name="showvalues" type="xs:string"/>
            <xs:attribute name="labelsepchar" type="xs:string"/>
            <xs:attribute name="clickurl" type="xs:string"/>
            <xs:attribute name="clickurloverridesplotlinks" type="xs:string"/>
            <xs:attribute name="usedataplotcolorforlabels" type="xs:string"/>
            <xs:attribute name="hasrtltext" type="xs:string"/>
            <xs:attribute name="basechartmessage" type="xs:string"/>
            <xs:attribute name="basechartmessagefont" type="xs:string"/>
            <xs:attribute name="basechartmessagefontsize" type="xs:string"/>
            <xs:attribute name="basechartmessagecolor" type="xs:hexBinary"/>
            <xs:attribute name="basechartmessageimagehalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="basechartmessageimagevalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="top"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="bottom"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="basechartmessageimagealpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="basechartmessageimagescale">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="300"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="loadmessage" type="xs:string"/>
            <xs:attribute name="loadmessagefont" type="xs:string"/>
            <xs:attribute name="loadmessagefontsize" type="xs:string"/>
            <xs:attribute name="loadmessagecolor" type="xs:hexBinary"/>
            <xs:attribute name="loadmessageimagehalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="loadmessageimagevalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="top"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="bottom"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="loadmessageimagealpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="loadmessageimagescale">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="300"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="typenotsupportedmessage" type="xs:string"/>
            <xs:attribute name="typenotsupportedmessagefont" type="xs:string"/>
            <xs:attribute name="typenotsupportedmessagefontsize" type="xs:string"/>
            <xs:attribute name="typenotsupportedmessagecolor" type="xs:hexBinary"/>
            <xs:attribute name="typenotsupportedmessageimagehalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="typenotsupportedmessageimagevalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="top"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="bottom"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="typenotsupportedmessageimagealpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="typenotsupportedmessageimagescale">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="300"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="rendererrormessage" type="xs:string"/>
            <xs:attribute name="rendererrormessagefont" type="xs:string"/>
            <xs:attribute name="rendererrormessagefontsize" type="xs:string"/>
            <xs:attribute name="rendererrormessagecolor" type="xs:hexBinary"/>
            <xs:attribute name="rendererrormessageimagehalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="rendererrormessageimagevalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="top"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="bottom"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="rendererrormessageimagealpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="rendererrormessageimagescale">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="300"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataloadstartmessage" type="xs:string"/>
            <xs:attribute name="dataloadstartmessagefont" type="xs:string"/>
            <xs:attribute name="dataloadstartmessagefontsize" type="xs:string"/>
            <xs:attribute name="dataloadstartmessagecolor" type="xs:hexBinary"/>
            <xs:attribute name="dataloadstartmessageimagehalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataloadstartmessageimagevalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="top"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="bottom"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataloadstartmessageimagealpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataloadstartmessageimagescale">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="300"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataemptymessage" type="xs:string"/>
            <xs:attribute name="dataemptymessagefont" type="xs:string"/>
            <xs:attribute name="dataemptymessagefontsize" type="xs:string"/>
            <xs:attribute name="dataemptymessagecolor" type="xs:hexBinary"/>
            <xs:attribute name="dataemptymessageimagehalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataemptymessageimagevalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="top"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="bottom"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataemptymessageimagealpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataemptymessageimagescale">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="300"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataloaderrormessage" type="xs:string"/>
            <xs:attribute name="dataloaderrormessagefont" type="xs:string"/>
            <xs:attribute name="dataloaderrormessagefontsize" type="xs:string"/>
            <xs:attribute name="dataloaderrormessagecolor" type="xs:hexBinary"/>
            <xs:attribute name="dataloaderrormessageimagehalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataloaderrormessageimagevalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="top"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="bottom"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataloaderrormessageimagealpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dataloaderrormessageimagescale">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="300"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="datainvalidmessage" type="xs:string"/>
            <xs:attribute name="datainvalidmessagefont" type="xs:string"/>
            <xs:attribute name="datainvalidmessagefontsize" type="xs:string"/>
            <xs:attribute name="datainvalidmessagecolor" type="xs:hexBinary"/>
            <xs:attribute name="datainvalidmessageimagehalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="datainvalidmessageimagevalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="top"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="bottom"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="datainvalidmessageimagealpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="datainvalidmessageimagescale">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="300"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="caption" type="xs:string"/>
            <xs:attribute name="subcaption" type="xs:string"/>
            <xs:attribute name="captionalignment">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="center"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="captionontop" type="xs:string"/>
            <xs:attribute name="captionfontsize">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="72"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="subcaptionfontsize">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="72"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="captionfont" type="xs:string"/>
            <xs:attribute name="subcaptionfont" type="xs:string"/>
            <xs:attribute name="captionfontcolor" type="xs:hexBinary"/>
            <xs:attribute name="subcaptionfontcolor" type="xs:hexBinary"/>
            <xs:attribute name="captionfontbold" type="xs:string"/>
            <xs:attribute name="subcaptionfontbold" type="xs:string"/>
            <xs:attribute name="aligncaptionwithcanvas" type="xs:string"/>
            <xs:attribute name="captionhorizontalpadding" type="xs:nonNegativeInteger"/>
            <xs:attribute name="showborder" type="xs:string"/>
            <xs:attribute name="bordercolor" type="xs:hexBinary"/>
            <xs:attribute name="borderthickness" type="xs:nonNegativeInteger"/>
            <xs:attribute name="borderalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="bgcolor" type="xs:string"/>
            <xs:attribute name="bgalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="bgratio" type="xs:string"/>
            <xs:attribute name="bgangle">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="360"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="bgimage" type="xs:string"/>
            <xs:attribute name="bgimagealpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="bgimagedisplaymode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="stretch"/>
                        <xs:enumeration value="tile"/>
                        <xs:enumeration value="fit"/>
                        <xs:enumeration value="fill"/>
                        <xs:enumeration value="center"/>
                        <xs:enumeration value="none"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="bgimagevalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="top"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="bottom"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="bgimagehalign">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="middle"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="bgimagescale">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="300"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="logourl" type="xs:string"/>
            <xs:attribute name="logoposition">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="TL"/>
                        <xs:enumeration value="TR"/>
                        <xs:enumeration value="BL"/>
                        <xs:enumeration value="BR"/>
                        <xs:enumeration value="CC"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="logoalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="logoscale">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="300"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="logolink" type="xs:string"/>
            <xs:attribute name="showplotborder" type="xs:string"/>
            <xs:attribute name="plotbordercolor" type="xs:hexBinary"/>
            <xs:attribute name="plotborderthickness">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="plotborderalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="plotfillalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="showshadow" type="xs:string"/>
            <xs:attribute name="use3dlighting" type="xs:string"/>
            <xs:attribute name="radius3d" type="xs:nonNegativeInteger"/>
            <xs:attribute name="slicingdistance" type="xs:nonNegativeInteger"/>
            <xs:attribute name="pieradius" type="xs:nonNegativeInteger"/>
            <xs:attribute name="startingangle">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="360"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="enablerotation" type="xs:string"/>
            <xs:attribute name="enablesmartlabels" type="xs:string"/>
            <xs:attribute name="skipoverlaplabels" type="xs:string"/>
            <xs:attribute name="issmartlineslanted" type="xs:string"/>
            <xs:attribute name="smartlinecolor" type="xs:hexBinary"/>
            <xs:attribute name="smartlinethickness" type="xs:nonNegativeInteger"/>
            <xs:attribute name="smartlinealpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="labeldistance" type="xs:nonNegativeInteger"/>
            <xs:attribute name="smartlabelclearance" type="xs:nonNegativeInteger"/>
            <xs:attribute name="managelabeloverflow" type="xs:string"/>
            <xs:attribute name="useellipseswhenoverflow" type="xs:string"/>
            <xs:attribute name="formatnumber" type="xs:string"/>
            <xs:attribute name="formatnumberscale" type="xs:string"/>
            <xs:attribute name="defaultnumberscale" type="xs:string"/>
            <xs:attribute name="numberscaleunit" type="xs:string"/>
            <xs:attribute name="numberscalevalue" type="xs:string"/>
            <xs:attribute name="forcenumberscale" type="xs:string"/>
            <xs:attribute name="scalerecursively" type="xs:string"/>
            <xs:attribute name="maxscalerecursion" type="xs:string"/>
            <xs:attribute name="scaleseparator" type="xs:string"/>
            <xs:attribute name="numberprefix" type="xs:string"/>
            <xs:attribute name="numbersuffix" type="xs:string"/>
            <xs:attribute name="decimalseparator" type="xs:string"/>
            <xs:attribute name="thousandseparator" type="xs:string"/>
            <xs:attribute name="thousandseparatorposition" type="xs:string"/>
            <xs:attribute name="indecimalseparator" type="xs:string"/>
            <xs:attribute name="inthousandseparator" type="xs:string"/>
            <xs:attribute name="decimals">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="forcedecimals" type="xs:string"/>
            <xs:attribute name="basefont" type="xs:string"/>
            <xs:attribute name="basefontsize">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="72"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="basefontcolor" type="xs:hexBinary"/>
            <xs:attribute name="labelfont" type="xs:string"/>
            <xs:attribute name="labelfontcolor" type="xs:hexBinary"/>
            <xs:attribute name="labelfontsize">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="72"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="labelfontbold" type="xs:string"/>
            <xs:attribute name="labelfontitalic" type="xs:string"/>
            <xs:attribute name="labelbgcolor" type="xs:hexBinary"/>
            <xs:attribute name="labelbordercolor" type="xs:hexBinary"/>
            <xs:attribute name="labelalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="labelbgalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="labelborderalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="labelborderpadding" type="xs:nonNegativeInteger"/>
            <xs:attribute name="labelborderradius" type="xs:nonNegativeInteger"/>
            <xs:attribute name="labelborderthickness" type="xs:nonNegativeInteger"/>
            <xs:attribute name="labelborderdashed" type="xs:string"/>
            <xs:attribute name="labelborderdashlen" type="xs:nonNegativeInteger"/>
            <xs:attribute name="labelborderdashgap" type="xs:nonNegativeInteger"/>
            <xs:attribute name="labellink" type="xs:string"/>
            <xs:attribute name="showlegend" type="xs:string"/>
            <xs:attribute name="legenditemfontbold" type="xs:string"/>
            <xs:attribute name="legenditemfont" type="xs:string"/>
            <xs:attribute name="legenditemfontsize">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="72"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="legenditemfontcolor" type="xs:hexBinary"/>
            <xs:attribute name="legenditemhoverfontcolor" type="xs:hexBinary"/>
            <xs:attribute name="legendposition">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="BOTTOM"/>
                        <xs:enumeration value="RIGHT"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="legendcaptionalignment">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="center"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="legendcaptionfontbold" type="xs:string"/>
            <xs:attribute name="legendcaptionfont" type="xs:string"/>
            <xs:attribute name="legendcaptionfontsize">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="72"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="legendcaptionfontcolor" type="xs:hexBinary"/>
            <xs:attribute name="legendcaption" type="xs:string"/>
            <xs:attribute name="legenditemhiddencolor" type="xs:hexBinary"/>
            <xs:attribute name="legendiconscale">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="legendbgcolor" type="xs:hexBinary"/>
            <xs:attribute name="legendbgalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="legendbordercolor" type="xs:hexBinary"/>
            <xs:attribute name="legendborderthickness" type="xs:nonNegativeInteger"/>
            <xs:attribute name="legendborderalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="legendshadow" type="xs:string"/>
            <xs:attribute name="legendallowdrag" type="xs:string"/>
            <xs:attribute name="legendscrollbgcolor" type="xs:hexBinary"/>
            <xs:attribute name="reverselegend" type="xs:string"/>
            <xs:attribute name="interactivelegend" type="xs:string"/>
            <xs:attribute name="legendnumcolumns" type="xs:string"/>
            <xs:attribute name="minimisewrappinginlegend" type="xs:string"/>
            <xs:attribute name="drawcustomlegendicon" type="xs:string"/>
            <xs:attribute name="legendiconbordercolor" type="xs:hexBinary"/>
            <xs:attribute name="legendiconbgcolor" type="xs:hexBinary"/>
            <xs:attribute name="legendiconalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="legendiconbgalpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="legendiconsides" type="xs:string"/>
            <xs:attribute name="legendiconborderthickness">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="legendiconstartangle" type="xs:string"/>
            <xs:attribute name="showtooltip" type="xs:string"/>
            <xs:attribute name="tooltipbgcolor" type="xs:hexBinary"/>
            <xs:attribute name="tooltipcolor" type="xs:hexBinary"/>
            <xs:attribute name="tooltipbordercolor" type="xs:hexBinary"/>
            <xs:attribute name="tooltipsepchar" type="xs:string"/>
            <xs:attribute name="showtooltipshadow" type="xs:string"/>
            <xs:attribute name="showhovereffect" type="xs:string"/>
            <xs:attribute name="plothovereffect" type="xs:string"/>
            <xs:attribute name="plotfillhovercolor" type="xs:hexBinary"/>
            <xs:attribute name="plotfillhoveralpha">
                <xs:simpleType>
                    <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="captionpadding" type="xs:nonNegativeInteger"/>
            <xs:attribute name="chartleftmargin" type="xs:nonNegativeInteger"/>
            <xs:attribute name="chartrightmargin" type="xs:nonNegativeInteger"/>
            <xs:attribute name="charttopmargin" type="xs:nonNegativeInteger"/>
            <xs:attribute name="chartbottommargin" type="xs:nonNegativeInteger"/>
        </xs:complexType>
    </xs:element>
</xs:schema>